In [93]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt 
import seaborn as sns

In [94]:
pwd

'/Users/emilynaftalin/Data_Science/General Assembly/dsi/projects/Mass-Protests/users'

In [95]:
mass = pd.read_csv('../source/mmALL_073120_csv.csv')

In [96]:
mass.head()

,id,country,ccode,year,region,protest,protestnumber,startday,startmonth,startyear,...,protesterdemand4,stateresponse1,stateresponse2,stateresponse3,stateresponse4,stateresponse5,stateresponse6,stateresponse7,sources,notes
0,201990001,Canada,20,1990,North America,1,1,15.0,1.0,1990.0,...,NaN,ignore,NaN,NaN,NaN,NaN,NaN,NaN,1. great canadian train journeys into history;...,canada s railway passenger system was finally ...
1,201990002,Canada,20,1990,North America,1,2,25.0,6.0,1990.0,...,NaN,ignore,NaN,NaN,NaN,NaN,NaN,NaN,1. autonomy s cry revived in quebec the new yo...,protestors were only identified as young peopl...
2,201990003,Canada,20,1990,North America,1,3,1.0,7.0,1990.0,...,NaN,ignore,NaN,NaN,NaN,NaN,NaN,NaN,1. quebec protest after queen calls for unity ...,"the queen, after calling on canadians to remai..."
3,201990004,Canada,20,1990,North America,1,4,12.0,7.0,1990.0,...,NaN,accomodation,NaN,NaN,NaN,NaN,NaN,NaN,1. indians gather as siege intensifies; armed ...,canada s federal government has agreed to acqu...
4,201990005,Canada,20,1990,North America,1,5,14.0,8.0,1990.0,...,NaN,crowd dispersal,arrests,accomodation,NaN,NaN,NaN,NaN,1. dozens hurt in mohawk blockade protest the ...,protests were directed against the state due t...

In [97]:
prosperity_df = pd.read_excel('../data/Prosperity_Index.xlsx', sheet_name=1)

In [98]:
mass.isnull().sum()

id                           0
country                      0
ccode                        0
year                         0
region                       0
protest                      0
protestnumber                0
startday                  1906
startmonth                1906
startyear                 1906
endday                    1906
endmonth                  1906
endyear                   1906
protesterviolence         1387
location                  1927
participants_category     7258
participants              1399
protesteridentity         2461
protesterdemand1          1907
protesterdemand2         14168
protesterdemand3         16762
protesterdemand4         16314
stateresponse1            1937
stateresponse2           14257
stateresponse3           16215
stateresponse4           16901
stateresponse5           16296
stateresponse6           17129
stateresponse7           16225
sources                   1910
notes                     1952
dtype: int64

In [99]:
mass['protesterdemand1'].value_counts()

political behavior, process    9680
labor wage dispute             1710
price increases, tax policy    1087
removal of politician          1011
police brutality                825
land farm issue                 467
social restrictions             458
Name: protesterdemand1, dtype: int64

In [100]:
mass['protesterdemand2'].value_counts()

political behavior, process    1004
removal of politician           768
labor wage dispute              438
police brutality                241
price increases, tax policy     214
social restrictions             212
land farm issue                 100
Name: protesterdemand2, dtype: int64

In [101]:
mass.groupby(['stateresponse2', 'stateresponse1', 'stateresponse3']).count()

                                                id  country  ccode  year  \
stateresponse2 stateresponse1  stateresponse3
accomodation   arrests         beatings          1        1      1     1
                               crowd dispersal   4        4      4     4
                               ignore            1        1      1     1
                               shootings         1        1      1     1
               crowd dispersal arrests           2        2      2     2
...                                             ..      ...    ...   ...
shootings      ignore          killings          3        3      3     3
               killings        accomodation      2        2      2     2
                               arrests           6        6      6     6
                               beatings          8        8      8     8
                               crowd dispersal  38       38     38    38

                                                region  protest  \
stateresponse2 stateresponse1  stateresponse3
accomodation   arrests         beatings              1        1
                               crowd dispersal       4        4
                               ignore                1        1
                               shootings             1        1
               crowd dispersal arrests               2        2
...                                                ...      ...
shootings      ignore          killings              3        3
               killings        accomodation          2        2
                               arrests               6        6
                               beatings              8        8
                               crowd dispersal      38       38

                                                protestnumber  startday  \
stateresponse2 stateresponse1  stateresponse3
accomodation   arrests         beatings                     1         1
                               crowd dispersal              4         4
                               ignore                       1         1
                               shootings                    1         1
               crowd dispersal arrests                      2         2
...                                                       ...       ...
shootings      ignore          killings                     3         3
               killings        accomodation                 2         2
                               arrests                      6         6
                               beatings                     8         8
                               crowd dispersal             38        38

                                                startmonth  startyear  ...  \
stateresponse2 stateresponse1  stateresponse3                          ...
accomodation   arrests         beatings                  1          1  ...
                               crowd dispersal           4          4  ...
                               ignore                    1          1  ...
                               shootings                 1          1  ...
               crowd dispersal arrests                   2          2  ...
...                                                    ...        ...  ...
shootings      ignore          killings                  3          3  ...
               killings        accomodation              2          2  ...
                               arrests                   6          6  ...
                               beatings                  8          8  ...
                               crowd dispersal          38         38  ...

                                                protesterdemand1  \
stateresponse2 stateresponse1  stateresponse3
accomodation   arrests         beatings                        1
                               crowd dispersal                 4
                               ignore                          1
                               shootings                       1
               crowd dispersal arrests                         2
...                                                          ...
shootings      ignore          killings                        3
               killings        accomodation                    2
                               arrests                         6
                               beatings                        8
                               crowd dispersal                38

                                                protesterdemand2  \
stateresponse2 stateresponse1  stateresponse3
accomodation   arrests         beatings                        1
                               crowd dispersal                 2
                               ignore                          0
                               shootings                       0
               crowd dispersal arrests                         0
...                                                          ...
shootings      ignore          killings                        0
               killings        accomodation                    0
                               arrests                         0
                               beatings                        3
                               crowd dispersal                 5

                                                protesterdemand3  \
stateresponse2 stateresponse1  stateresponse3
accomodation   arrests         beatings                        1
                               crowd dispersal                 2
                               ignore                          0
                               shootings                       0
               crowd dispersal arrests                         0
...                                                          ...
shootings      ignore          killings                        0
               killings        accomodation                    0
                               arrests                         0
                               beatings                        1
                               crowd dispersal                 0

                                                protesterdemand4  \
stateresponse2 stateresponse1  stateresponse3
accomodation   arrests         beatings                        0
                               crowd dispersal                 1
                               ignore                          0
                               shootings                       0
               crowd dispersal arrests                         0
...                                                          ...
shootings      ignore          killings                        0
               killings        accomodation                    1
                               arrests                         2
                               beatings                        2
                               crowd dispersal                10

                                                stateresponse4  \
stateresponse2 stateresponse1  stateresponse3
accomodation   arrests         beatings                      1
                               crowd dispersal               2
                               ignore                        0
                               shootings                     1
               crowd dispersal arrests                       1
...                                                        ...
shootings      ignore          killings                      0
               killings        accomodation                  0
                               arrests                       6
                               beatings                      6
                               crowd dispersal               9

                                                stateresponse5  \
stateresponse2 stateresponse1  stateresponse3
accomodation   arrests         beatings                      0
                               crowd dispersal               0
                               ignore                        0
                               shootings                     0
               crowd dispersal arrests                       0
...                                                        ...
shootings      ignore          killings                      0
               killings        accomodation                  1
                               arrests                       2
                               beatings                      4
                               crowd dispersal              10

                                                stateresponse6  \
stateresponse2 stateresponse1  stateresponse3
accomodation   arrests         beatings                      0
                               crowd dispersal               0
                               ignore                        0
                               shootings                     0
               crowd dispersal arrests                       0
...                                                        ...
shootings      ignore          killings                      0
               killings        accomodation                  0
                               arrests                       0
                               beatings                      1
                               crowd dispersal               0

                                                stateresponse7  sources  notes
stateresponse2 stateresponse1  stateresponse3
accomodation   arrests         beatings                      0        1      1
                               crowd dispersal               0        4      4
                               ignore                        0        1      1
                               shootings                     0        1      1
               crowd dispersal arrests                       0        2      2
...                                                        ...      ...    ...
shootings      ignore          killings                      0        3      3
               killings        accomodation                  0        2      2
                               arrests                       0        6      6
                               beatings                      0        8      8
                               crowd dispersal               0       38     38

[112 rows x 28 columns]

In [102]:
mass[mass['country']=='Senegal'].groupby('location').count()

,id,country,ccode,year,region,protest,protestnumber,startday,startmonth,startyear,...,protesterdemand4,stateresponse1,stateresponse2,stateresponse3,stateresponse4,stateresponse5,stateresponse6,stateresponse7,sources,notes
location,,,,,,,,,,,,,,,,,,,,,
Bandia,1,1,1,1,1,1,1,1,1,1,...,0,1,0,0,0,0,0,0,1,1
Dakar,34,34,34,34,34,34,34,34,34,34,...,1,34,6,2,2,2,0,0,34,34
Dakar and Podor,3,3,3,3,3,3,3,3,3,3,...,0,3,1,1,0,0,0,0,3,3
"Dakar, Thies, and Kaolack",1,1,1,1,1,1,1,1,1,1,...,0,1,0,0,0,0,0,0,1,1
Kedougou,1,1,1,1,1,1,1,1,1,1,...,0,1,0,0,0,0,0,0,1,1
"Nationwide, including Dakar; Ziguinchor; Bambey; Thies",1,1,1,1,1,1,1,1,1,1,...,1,1,0,0,0,1,0,0,1,1
Saint Louis,1,1,1,1,1,1,1,1,1,1,...,0,1,0,0,0,0,0,0,1,1
Velingara,1,1,1,1,1,1,1,1,1,1,...,0,1,0,0,0,0,0,0,1,1
natonal,1,1,1,1,1,1,1,1,1,1,...,0,1,0,0,0,0,0,0,1,1
ziguinchor,1,1,1,1,1,1,1,1,1,1,...,0,1,0,0,0,0,0,0,1,1

In [103]:
mass[mass['protestnumber']>75].groupby('country').count()

,id,ccode,year,region,protest,protestnumber,startday,startmonth,startyear,endday,...,protesterdemand4,stateresponse1,stateresponse2,stateresponse3,stateresponse4,stateresponse5,stateresponse6,stateresponse7,sources,notes
country,,,,,,,,,,,,,,,,,,,,,
Kenya,68,68,68,68,68,68,68,68,68,68,...,2,68,10,4,0,0,0,68,68,68
Ukraine,16,16,16,16,16,16,16,16,16,16,...,0,16,4,1,0,0,0,0,16,16

In [104]:
set(list(mass[mass['protestnumber']>50]['country']))

{'Algeria',
 'Bangladesh',
 'China',
 'Cuba',
 'Germany',
 'Ireland',
 'Kenya',
 'Lebanon',
 'Nigeria',
 'Romania',
 'Ukraine',
 'Yemen'}

In [105]:
mass[mass['protestnumber']>50]['country']

173            Cuba
174            Cuba
175            Cuba
3740        Ireland
3741        Ireland
            ...
15831    Bangladesh
15832    Bangladesh
15833    Bangladesh
15834    Bangladesh
15835    Bangladesh
Name: country, Length: 237, dtype: object

In [106]:
mass['protestnumber'].value_counts()

1      2970
2      2141
0      1906
3      1620
4      1269
       ...
136       1
105       1
121       1
137       1
135       1
Name: protestnumber, Length: 144, dtype: int64

In [107]:
mass.groupby('country').count()

,id,ccode,year,region,protest,protestnumber,startday,startmonth,startyear,endday,...,protesterdemand4,stateresponse1,stateresponse2,stateresponse3,stateresponse4,stateresponse5,stateresponse6,stateresponse7,sources,notes
country,,,,,,,,,,,,,,,,,,,,,
Afghanistan,56,56,56,56,56,56,39,39,39,39,...,6,39,5,0,0,6,0,5,39,39
Albania,93,93,93,93,93,93,78,78,78,78,...,18,78,28,2,0,18,0,1,78,78
Algeria,122,122,122,122,122,122,105,105,105,105,...,20,105,5,0,0,20,0,3,105,105
Angola,38,38,38,38,38,38,24,24,24,24,...,1,24,8,1,0,1,0,3,24,24
Argentina,118,118,118,118,118,118,115,115,115,115,...,6,114,24,5,0,6,0,5,115,115
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Vietnam,36,36,36,36,36,36,19,19,19,19,...,2,19,9,1,0,2,0,1,19,18
Yemen,166,166,166,166,166,166,157,157,157,157,...,2,157,46,17,5,3,1,11,157,157
Yugoslavia,138,138,138,138,138,138,137,137,137,137,...,3,137,33,13,5,0,0,0,137,137
Zambia,99,99,99,99,99,99,95,95,95,95,...,1,95,29,11,2,1,0,1,94,95
Zimbabwe,119,119,119,119,119,119,115,115,115,115,...,9,115,46,16,7,9,0,3,115,115

In [108]:
(mass[mass['protestnumber']>75])['country'].value_counts()

Kenya      68
Ukraine    16
Name: country, dtype: int64

In [109]:
mass[['protestnumber','country']][mass['protestnumber']>50].groupby('country').count()

            protestnumber
country
Algeria                16
Bangladesh             19
China                   6
Cuba                    3
Germany                12
Ireland                 6
Kenya                  93
Lebanon                12
Nigeria                 8
Romania                13
Ukraine                41
Yemen                   8

In [110]:
mass.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17145 entries, 0 to 17144
Data columns (total 31 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id                     17145 non-null  int64
 1   country                17145 non-null  object
 2   ccode                  17145 non-null  int64
 3   year                   17145 non-null  int64
 4   region                 17145 non-null  object
 5   protest                17145 non-null  int64
 6   protestnumber          17145 non-null  int64
 7   startday               15239 non-null  float64
 8   startmonth             15239 non-null  float64
 9   startyear              15239 non-null  float64
 10  endday                 15239 non-null  float64
 11  endmonth               15239 non-null  float64
 12  endyear                15239 non-null  float64
 13  protesterviolence      15758 non-null  float64
 14  location               15218 non-null  object
 15  participants_category  9887 non-null   object
 16  participants           15746 non-null  object
 17  protesteridentity      14684 non-null  object
 18  protesterdemand1       15238 non-null  object
 19  protesterdemand2       2977 non-null   object
 20  protesterdemand3       383 non-null    object
 21  protesterdemand4       831 non-null    object
 22  stateresponse1         15208 non-null  object
 23  stateresponse2         2888 non-null   object
 24  stateresponse3         930 non-null    object
 25  stateresponse4         244 non-null    object
 26  stateresponse5         849 non-null    object
 27  stateresponse6         16 non-null     object
 28  stateresponse7         920 non-null    object
 29  sources                15235 non-null  object
 30  notes                  15193 non-null  object
dtypes: float64(7), int64(5), object(19)
memory usage: 4.1+ MB

In [111]:
pwd

'/Users/emilynaftalin/Data_Science/General Assembly/dsi/projects/Mass-Protests/users'

In [112]:
# responses = pd.read_csv('../data/mm_master.csv')

In [113]:
# responses.head()

In [114]:
# responses.corr()

In [115]:
# sns.heatmap(responses.corr())

In [116]:
# responses.info()

In [117]:
# mass = mass.join(responses)

In [118]:
# mass.info()

In [119]:
# mass.iloc[10]

In [120]:
# mass.columns

In [121]:
# mass['arrests'].value_counts(normalize=True)

In [122]:
# mass['accomodation'].value_counts()

In [123]:
# mass['beatings'].value_counts()

In [124]:
# mass['crowddispersal'].value_counts()

In [125]:
# mass['ignore'].value_counts()

In [126]:
# mass[['killings', 'ignore']].value_counts()

In [127]:
# mass['killings'].value_counts()

In [128]:
# mass[['shootings']].value_counts()

In [129]:
# mass['shootings'].value_counts()

In [130]:
mass['startmonth'].value_counts()

3.0     1551
5.0     1508
2.0     1376
1.0     1355
4.0     1348
11.0    1295
10.0    1257
9.0     1167
6.0     1144
7.0     1140
12.0    1067
8.0     1031
Name: startmonth, dtype: int64

mass.head()

In [131]:
mass['protesterviolence'].value_counts()

0.0    11723
1.0     4035
Name: protesterviolence, dtype: int64

In [132]:
mass['protesterviolence'].isnull().sum()

1387

In [133]:
mass[mass['protesterviolence'].isnull()].groupby(['country', 'year']).count()

                  id  ccode  region  protest  protestnumber  startday  \
country     year
Afghanistan 2020   1      1       1        1              1         0
Albania     1995   1      1       1        1              1         0
            1999   1      1       1        1              1         0
            2001   1      1       1        1              1         0
            2002   1      1       1        1              1         0
...               ..    ...     ...      ...            ...       ...
Zambia      2020   1      1       1        1              1         0
Zimbabwe    2010   1      1       1        1              1         0
            2011   1      1       1        1              1         0
            2013   1      1       1        1              1         0
            2020   1      1       1        1              1         0

                  startmonth  startyear  endday  endmonth  ...  \
country     year                                           ...
Afghanistan 2020           0          0       0         0  ...
Albania     1995           0          0       0         0  ...
            1999           0          0       0         0  ...
            2001           0          0       0         0  ...
            2002           0          0       0         0  ...
...                      ...        ...     ...       ...  ...
Zambia      2020           0          0       0         0  ...
Zimbabwe    2010           0          0       0         0  ...
            2011           0          0       0         0  ...
            2013           0          0       0         0  ...
            2020           0          0       0         0  ...

                  protesterdemand4  stateresponse1  stateresponse2  \
country     year
Afghanistan 2020                 0               0               0
Albania     1995                 0               0               0
            1999                 0               0               0
            2001                 0               0               0
            2002                 0               0               0
...                            ...             ...             ...
Zambia      2020                 0               0               0
Zimbabwe    2010                 0               0               0
            2011                 0               0               0
            2013                 0               0               0
            2020                 0               0               0

                  stateresponse3  stateresponse4  stateresponse5  \
country     year
Afghanistan 2020               0               0               0
Albania     1995               0               0               0
            1999               0               0               0
            2001               0               0               0
            2002               0               0               0
...                          ...             ...             ...
Zambia      2020               0               0               0
Zimbabwe    2010               0               0               0
            2011               0               0               0
            2013               0               0               0
            2020               0               0               0

                  stateresponse6  stateresponse7  sources  notes
country     year
Afghanistan 2020               0               0        0      0
Albania     1995               0               0        0      0
            1999               0               0        0      0
            2001               0               0        0      0
            2002               0               0        0      0
...                          ...             ...      ...    ...
Zambia      2020               0               0        0      0
Zimbabwe    2010               0               0        0      0
            2011               0               0        0      0
            2013               0               0        0      0
            2020               0               0        0      0

[1387 rows x 29 columns]

In [134]:
protestor_violence_null = mass[mass['protesterviolence'].isnull()]

In [135]:
protestor_violence_null.head()

,id,country,ccode,year,region,protest,protestnumber,startday,startmonth,startyear,...,protesterdemand4,stateresponse1,stateresponse2,stateresponse3,stateresponse4,stateresponse5,stateresponse6,stateresponse7,sources,notes
18,201998000,Canada,20,1998,North America,0,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,201999000,Canada,20,1999,North America,0,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,202001000,Canada,20,2001,North America,0,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,202002000,Canada,20,2002,North America,0,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,202004000,Canada,20,2004,North America,0,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [136]:
protestor_violence_null.isnull().sum()

id                          0
country                     0
ccode                       0
year                        0
region                      0
protest                     0
protestnumber               0
startday                 1387
startmonth               1387
startyear                1387
endday                   1387
endmonth                 1387
endyear                  1387
protesterviolence        1387
location                 1387
participants_category    1387
participants             1387
protesteridentity        1387
protesterdemand1         1387
protesterdemand2         1387
protesterdemand3         1387
protesterdemand4         1335
stateresponse1           1387
stateresponse2           1387
stateresponse3           1387
stateresponse4           1387
stateresponse5           1335
stateresponse6           1387
stateresponse7           1324
sources                  1387
notes                    1387
dtype: int64

In [137]:
protestor_violence_null['protest'].value_counts()

0    1387
Name: protest, dtype: int64

In [138]:
mass['protest'].value_counts()

1    15239
0     1906
Name: protest, dtype: int64

In [139]:
mass_dropped_no_protest = mass[mass['protest']==1]

In [140]:
mass_dropped_no_protest['protest'].value_counts()

1    15239
Name: protest, dtype: int64

In [141]:
mass_dropped_no_protest.isnull().sum()

id                           0
country                      0
ccode                        0
year                         0
region                       0
protest                      0
protestnumber                0
startday                     0
startmonth                   0
startyear                    0
endday                       0
endmonth                     0
endyear                      0
protesterviolence            0
location                    21
participants_category     5352
participants                12
protesteridentity          555
protesterdemand1             1
protesterdemand2         12262
protesterdemand3         14856
protesterdemand4         14460
stateresponse1              31
stateresponse2           12351
stateresponse3           14309
stateresponse4           14995
stateresponse5           14442
stateresponse6           15223
stateresponse7           14382
sources                      4
notes                       46
dtype: int64

In [142]:
mass_dropped_no_protest['participants_category'].value_counts()

100-999       3204
50-99         2508
2000-4999     1580
>10000        1470
5000-10000     642
1000-1999      483
Name: participants_category, dtype: int64

In [143]:
# dropping rows where protest==0
mass = mass[mass['protest']==1]

In [144]:
# now dropping `protest` column 
mass = mass.drop(columns=['protest'])

In [145]:
mass['participants'].isnull().sum()

12

In [146]:
mass[mass['participants'].isnull()]['participants_category'].value_counts()

1000-1999    3
2000-4999    1
100-999      1
Name: participants_category, dtype: int64

In [147]:
mass[mass['participants_category'].isnull()]['participants'].value_counts()

1000     770
50       618
100      588
100s     358
1000s    283
        ...
68000      1
634        1
4800       1
88         1
1900       1
Name: participants, Length: 255, dtype: int64

In [148]:
mass['participants'].isnull().sum()

12

In [149]:
mass['participants_category'].isnull().sum()

5352

Where `participants` is null, `participants_category` is filled in, and vice versa. Below, I convert the value in the participants column from string to digit and then put it into participants category.

In [150]:
# citation: https://stackoverflow.com/questions/1249388/removing-all-non-numeric-characters-from-string-in-python

# for value in mass['participants']:
#     value = ''.join(c for c in value if c.isdigit())

In [151]:
import re

# for value in mass['participants'][:100]:
#     value = re.sub("[^0-9]", "", value)

In [152]:
re.sub("[^0-9]", "", "1000s")

'1000'

In [153]:
mass['protesteridentity'].value_counts()

protesters                                                                                                          1541
students                                                                                                             646
workers                                                                                                              273
unspecified                                                                                                          224
farmers                                                                                                              219
                                                                                                                    ...
farmers and indigenous macuxi indians                                                                                  1
nurses protesting after the government dismissed them for striking over low salaries and poor working conditions       1
matatu drivers & matatu conductors                                                                                     1
bangladesh puja udzapan parishad                                                                                       1
32 county sovereignty movement                                                                                         1
Name: protesteridentity, Length: 5784, dtype: int64

In [154]:
list(mass['protesteridentity'].value_counts().index)[:10]

['protesters',
 'students',
 'workers',
 'unspecified',
 'farmers',
 'residents',
 'opposition supporters',
 'university students',
 'demonstrators',
 'opposition']

In [155]:
mass['participants_category'].value_counts()

100-999       3204
50-99         2508
2000-4999     1580
>10000        1470
5000-10000     642
1000-1999      483
Name: participants_category, dtype: int64

In [156]:
mass['participants_category'].isnull().sum()

5352

In [157]:
mass[mass['region']=='Africa'].iloc[:,1:17]

,country,ccode,year,region,protestnumber,startday,startmonth,startyear,endday,endmonth,endyear,protesterviolence,location,participants_category,participants,protesteridentity
8287,Cape Verde,402,2005,Africa,1,16.0,3.0,2005.0,16.0,3.0,2005.0,1.0,Praia,100-999,500,immigrants
8288,Cape Verde,402,2005,Africa,2,19.0,3.0,2005.0,19.0,3.0,2005.0,0.0,Praia,100-999,500,movement for democracy mpd
8308,Guinea-Bissau,404,1994,Africa,1,4.0,1.0,1994.0,4.0,1.0,1994.0,0.0,Bissau,2000-4999,Thousands,supporters of rebuild and develop party prd
8313,Guinea-Bissau,404,1999,Africa,1,3.0,11.0,1999.0,3.0,11.0,1999.0,0.0,Bissau,100-999,170,soldiers
8314,Guinea-Bissau,404,1999,Africa,2,28.0,11.0,1999.0,28.0,11.0,1999.0,1.0,"Chapa de Bissau, Mindara",100-999,50+,youths
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12047,Mauritius,590,2006,Africa,1,22.0,8.0,2006.0,22.0,8.0,2006.0,0.0,Port Louis,100-999,800,fishermen
12048,Mauritius,590,2007,Africa,1,11.0,4.0,2007.0,11.0,4.0,2007.0,0.0,Port Louis,100-999,200-300,muslims
12050,Mauritius,590,2009,Africa,1,22.0,3.0,2009.0,22.0,3.0,2009.0,0.0,Port Louis,100-999,200,bangladeshi workers
12054,Mauritius,590,2013,Africa,1,4.0,9.0,2013.0,4.0,9.0,2013.0,0.0,Port Louis,100-999,600,bangladeshi workers
12056,Mauritius,590,2015,Africa,1,6.0,2.0,2015.0,6.0,2.0,2015.0,1.0,Port Luis,50-99,50+,former prime minister navinchandra ramgoolam s...

In [158]:
mass[ (mass['region']=='Africa') & mass['participants_category'].notna() & mass['participants'].isnull() ].iloc[:,1:17]

,country,ccode,year,region,protestnumber,startday,startmonth,startyear,endday,endmonth,endyear,protesterviolence,location,participants_category,participants,protesteridentity
9073,Burkina Faso,439,1997,Africa,1,1.0,2.0,1997.0,1.0,2.0,1997.0,0.0,"Ouagadougou, Kadiogo Province",100-999,NaN,university students
11745,Swaziland,572,2004,Africa,2,23.0,9.0,2004.0,23.0,9.0,2004.0,0.0,Manzini,1000-1999,NaN,women activists
11973,Comoros,581,2003,Africa,3,15.0,9.0,2003.0,15.0,9.0,2003.0,0.0,Fomboni,1000-1999,NaN,ridja party members

In [159]:
mass[ (mass['region']=='Africa') & mass['participants'].notna() & mass['participants_category'].isnull() ].iloc[:,1:17]

,country,ccode,year,region,protestnumber,startday,startmonth,startyear,endday,endmonth,endyear,protesterviolence,location,participants_category,participants,protesteridentity
8663,Mauritania,435,2008,Africa,2,8.0,8.0,2008.0,8.0,8.0,2008.0,0.0,Nouakchott,NaN,100s,protesters
9016,Guinea,438,2013,Africa,9,2.0,5.0,2013.0,3.0,5.0,2013.0,1.0,"Conakry, Conakry Region",NaN,50+,opposition supporters
9192,Liberia,450,2012,Africa,2,16.0,11.0,2012.0,16.0,11.0,2012.0,1.0,"Monrovia, Montserrado county",NaN,50+,students student unification party
9544,Nigeria,475,2000,Africa,1,23.0,2.0,2000.0,23.0,2.0,2000.0,1.0,"Kaduna, Kaduna State",NaN,10000+,christians
9780,Central African Republic,482,2004,Africa,3,3.0,3.0,2004.0,3.0,3.0,2004.0,0.0,Bangui,NaN,>50,university students
9788,Central African Republic,482,2006,Africa,4,19.0,5.0,2006.0,19.0,5.0,2006.0,0.0,Bangui,NaN,3000,"protestors, trade unionists, human rights advo..."
9790,Central African Republic,482,2007,Africa,1,30.0,1.0,2007.0,30.0,1.0,2007.0,1.0,Bangui,NaN,60,vendors
9799,Central African Republic,482,2013,Africa,3,1.0,10.0,2013.0,1.0,10.0,2013.0,0.0,Bangassou,NaN,>50,christians
9935,Congo Kinshasa,490,2005,Africa,1,10.0,1.0,2005.0,10.0,1.0,2005.0,1.0,Kinshasa,NaN,1000s,citizens
10106,Kenya,501,2003,Africa,2,24.0,9.0,2003.0,24.0,9.0,2003.0,0.0,Nairobi,NaN,100,aids sufferers
10108,Kenya,501,2004,Africa,2,8.0,7.0,2004.0,8.0,7.0,2004.0,1.0,Kisumu,NaN,>50,demonstrators
10109,Kenya,501,2004,Africa,3,21.0,8.0,2004.0,21.0,8.0,2004.0,0.0,Nanyuki,NaN,71,masai herdmen
10112,Kenya,501,2005,Africa,2,22.0,5.0,2005.0,22.0,5.0,2005.0,0.0,Nairobi,NaN,100s,masai tribesmen
10150,Kenya,501,2010,Africa,10,11.0,3.0,2010.0,11.0,3.0,2010.0,0.0,Nairobi,NaN,100s,"protesters, youth"

In [160]:
mass['region'].value_counts()

Europe             4994
Africa             3184
Asia               3126
South America      1659
MENA               1260
North America       527
Central America     451
Oceania              38
Name: region, dtype: int64

In [161]:
mass[ mass['participants'].notna() & mass['participants_category'].isnull() ].iloc[:,1:17]

,country,ccode,year,region,protestnumber,startday,startmonth,startyear,endday,endmonth,endyear,protesterviolence,location,participants_category,participants,protesteridentity
0,Canada,20,1990,North America,1,15.0,1.0,1990.0,15.0,1.0,1990.0,0.0,national,NaN,1000s,unspecified
1,Canada,20,1990,North America,2,25.0,6.0,1990.0,25.0,6.0,1990.0,0.0,"Montreal, Quebec",NaN,1000,unspecified
2,Canada,20,1990,North America,3,1.0,7.0,1990.0,1.0,7.0,1990.0,0.0,"Montreal, Quebec",NaN,500,separatist parti quebecois
3,Canada,20,1990,North America,4,12.0,7.0,1990.0,6.0,9.0,1990.0,1.0,"Montreal, Quebec",NaN,100s,mohawk indians
4,Canada,20,1990,North America,5,14.0,8.0,1990.0,15.0,8.0,1990.0,1.0,"Montreal, Quebec",NaN,950,local residents
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17131,Papua New Guinea,910,2011,Oceania,1,14.0,12.0,2011.0,14.0,12.0,2011.0,0.0,Port Moresby,NaN,500,o neill supporters
17132,Papua New Guinea,910,2012,Oceania,1,24.0,3.0,2012.0,24.0,3.0,2012.0,0.0,Port Moresby,NaN,1000s,university students
17133,Papua New Guinea,910,2012,Oceania,2,29.0,3.0,2012.0,29.0,3.0,2012.0,0.0,Port Moresby,NaN,1000,university students
17134,Papua New Guinea,910,2012,Oceania,3,10.0,4.0,2012.0,10.0,4.0,2012.0,0.0,Port Moresby,NaN,1000s,"trade unionists, civil society groups, student..."
17135,Papua New Guinea,910,2013,Oceania,1,2.0,8.0,2013.0,2.0,8.0,2013.0,0.0,Port Moresby,NaN,2000,university students

In [162]:
mass.columns

Index(['id', 'country', 'ccode', 'year', 'region', 'protestnumber', 'startday',
       'startmonth', 'startyear', 'endday', 'endmonth', 'endyear',
       'protesterviolence', 'location', 'participants_category',
       'participants', 'protesteridentity', 'protesterdemand1',
       'protesterdemand2', 'protesterdemand3', 'protesterdemand4',
       'stateresponse1', 'stateresponse2', 'stateresponse3', 'stateresponse4',
       'stateresponse5', 'stateresponse6', 'stateresponse7', 'sources',
       'notes'],
      dtype='object')

In [163]:
# for value in mass['participants'][:100]:
#     if list(value)[0].isdigit():
#         value = re.sub("[^0-9]", "", value)

In [164]:
# def str_to_num(df, column, n=100):
#     for value in df[column][:n]:
#         if list(value)[0].isdigit():
#             value = re.sub("[^0-9]", "", value)
#     return df[column]

In [203]:
def string_to_number(string):
    
#     tuple_of_prefixes = ('Around', 'at least', 'about', 'nearly', 'up to', 'as many as', 'almost' ,'over', 'some')
#     for word in tuple_of_prefixes:
#         if str(string).lower().startswith(word):
#             string = string.strip(word)
#     if str(string).lower().startswith('around'):
#             string = string.strip('around ')


    if str(string)[0].isdigit():
        return re.sub("[^0-9]", "", string)
    
    if str(string).lower().startswith(('Around', 'at least', 'about', 'nearly', 'up to', 'as many as', 'almost' ,'over', 'some')):
        return re.sub("[^0-9]", "", string)
    
    # removes "About"/"about" at start of phrase 
    elif str(string).lower().startswith('about'):
        return str(string).lower().strip('about ')
    

    
    # remove "<" or ">" in front of number 
    elif str(string).startswith('>'):
        return str(string).strip('>')
    elif str(string).startswith('> '):
        return str(string).strip('> ')
    elif str(string).startswith('<'):
        return str(string).strip('<')
    elif str(string).startswith('< '):
        return str(string).strip('< ')
    
        
    elif str(string) == 'thousands':
        return '1000'
    
    # remove "more than" or "less than" in front of number 
    elif str(string).lower().startswith('more than'):
        return str(string).lower().strip('more than')
    elif str(string).lower().startswith('more than '):
        return str(string).lower().strip('more than ')
    elif str(string).lower().startswith('less than'):
        return str(string).lower().strip('less than')
    elif str(string).lower().startswith('less than '):
        return str(string).lower().strip('less than ')
    else:
        return string

In [212]:
mass[['participants', 'participants_converted']].count()

participants              15227
participants_converted    15227
dtype: int64

In [208]:
mass['participants_converted'] = mass['participants'].apply(string_to_number)
mass['participants_converted'] = mass['participants_converted'].apply(string_to_number)

IndexError: string index out of range

In [205]:
list(mass[mass['participants'] == mass['participants_converted']][['participants_converted']].value_counts().index)

[('50',),
 ('1000',),
 ('100',),
 ('10000',),
 ('200',),
 ('2000',),
 ('300',),
 ('500',),
 ('5000',),
 ('hundreds',),
 ('3000',),
 ('tens of thousands',),
 ('20000',),
 ('150',),
 ('4000',),
 ('400',),
 ('100000',),
 ('30000',),
 ('15000',),
 ('50000',),
 ('dozens',),
 ('1500',),
 ('6000',),
 ('7000',),
 ('Thousands ',),
 ('8000',),
 ('60',),
 ('700',),
 ('250',),
 ('600',),
 ('Thousands',),
 ('25000',),
 ('40000',),
 ('Tens of thousands',),
 ('800',),
 ('200000',),
 ('70',),
 ('2500',),
 ('several thousand',),
 ('several hundred',),
 ('hundreds of thousands',),
 ('60000',),
 ('1000000',),
 ('80000',),
 ('80',),
 ('12000',),
 ('150000',),
 ('Hundreds',),
 ('70000',),
 ('300000',),
 ('35000',),
 ('500000',),
 ('250000',),
 ('350',),
 ('400000',),
 ('14000',),
 ('120',),
 ('1300',),
 ('3500',),
 ('1200',),
 ('75',),
 ('13000',),
 ('120000',),
 ('45000',),
 ('18000',),
 ('800000',),
 ('16000',),
 ('900',),
 ('130',),
 ('350000',),
 ('9000',),
 ('32000',),
 ('110000',),
 ('.',),
 ('600000',),
 ('450',),
 ('700000',),
 ('90000',),
 ('4500',),
 ('750000',),
 ('several hundreds',),
 ('170',),
 ('22000',),
 ('55000',),
 ('11000',),
 ('1100',),
 ('340',),
 ('27000',),
 ('17000',),
 ('90',),
 ('24000',),
 ('240000',),
 ('scores',),
 ('1400',),
 ('130000',),
 ('180',),
 ('6500',),
 ('280000',),
 ('hundreds of thousands ',),
 ('55',),
 ('Several thousand',),
 ('270',),
 ('7500',),
 ('Hundreds of thousands',),
 ('millions',),
 ('1200000',),
 ('several dozen',),
 ('66000',),
 ('a few dozen',),
 ('61',),
 ('a few thousand',),
 ('75000',),
 ('28000',),
 ('1700',),
 ('140',),
 ('135000',),
 ('Dozens',),
 ('A few hundred',),
 ('5500',),
 ('450000',),
 ('a group',),
 ('102',),
 ('3000000',),
 ('750',),
 ('2000000',),
 ('2050',),
 ('260',),
 ('115',),
 ('21000',),
 ('61000',),
 ('few dozen',),
 ('hundreds  ',),
 ('330',),
 ('Crowds',),
 ('3600',),
 ('52000',),
 ('107',),
 ('240',),
 ('Hundreds of people',),
 ('65',),
 ('125000',),
 ('Millions',),
 ('Thousands of people',),
 ('74',),
 ('33000',),
 ('125',),
 ('900000',),
 ('hundreds ',),
 ('72000',),
 ('Tens of thousands of people',),
 ('160',),
 ('19000',),
 ('several dozens',),
 ('66',),
 ('36000',),
 ('28500',),
 ('2850',),
 ('241',),
 ('2450',),
 ('260000',),
 ('298',),
 ('2600',),
 ('29000',),
 ('2700',),
 ('290000',),
 ('280',),
 ('270000',),
 ('27500',),
 ('29',),
 ('widespread',),
 ('2400',),
 ('126000',),
 ('14500',),
 ('141',),
 ('14059',),
 ('140000',),
 ('138000',),
 ('13800',),
 ('138',),
 ('137000',),
 ('1300000',),
 ('128000',),
 ('128',),
 ('12500',),
 ('234',),
 ('1250',),
 ('124000',),
 ('119500',),
 ('118000',),
 ('1150',),
 ('112',),
 ('1100000',),
 ('10600',),
 ('106',),
 ('10300',),
 ('102000',),
 ('149',),
 ('1500000',),
 ('155',),
 ('157',),
 ('23000',),
 ('2300',),
 ('22800',),
 ('22500',),
 ('223000',),
 ('2200',),
 ('210',),
 ('207',),
 ('195',),
 ('193',),
 ('1900',),
 ('187000',),
 ('18500',),
 ('185',),
 ('181',),
 ('180000',),
 ('1800',),
 ('17500',),
 ('17200',),
 ('170000',),
 ('168000',),
 ('161',),
 ('1600',),
 ('311',),
 ('51',),
 ('320000',),
 ('Estimated number of protesters at 10,000',),
 ('Mass demonstrations',),
 ('March organiser and legal-sector lawmaker Dennis Kwok, said more than 2,000 people joined the protest. Police put the turnout at 1,700.',),
 ('Large demonstrations',),
 ('In northern Chiang Mai province, 200 kamnans and village heads; in Phetchaburi, about 400 kamnans and village heads',),
 ('Hundreds of youths',),
 ('Hundreds of workers',),
 ('Hundreds of villagers',),
 ('Hundreds of student protesters',),
 ('Hundreds of residents',),
 ('Hundreds of college students',),
 ('Hundreds of Venezuelans',),
 ('Huge protests',),
 ('HUNDREDS OF thousands of Venezuelans',),
 ('Estimated to be 15,500',),
 ('Estimated 6,000 drivers',),
 ('Protesters on whom the government security forces used water cannons, rubber bullets and batons',),
 ('Demonstrators',),
 ('Civilians; a crowd',),
 ('Between 11000 and 45000',),
 ('Around 5,000',),
 ('Around 300 local people',),
 ('Around 200 protesters',),
 ('A general strike that paralysed Venezuela',),
 ('A few hundred people',),
 ('950',),
 ('93000',),
 ('920',),
 ('89',),
 ('88',),
 ('87',),
 ('Mass protests',),
 ('Protests across India',),
 ('325000',),
 ('between 7500-25000',),
 ('teachers and pupils',),
 ('several thousand ',),
 ('several hundred thousands',),
 ('several dozen arrests',),
 ('several 1000s',),
 ('scores (>50)',),
 ('increasingly large gatherings',),
 ('hundreds of thousands to 1.4 million',),
 ('few thousand',),
 ('dozens arrested ',),
 ('dozens arrested',),
 ('couple thousands',),
 ('busloads',),
 ('btw. 20000 & 30000',),
 ('between 35,000 and 50,000',),
 ('Several hundred',),
 ('between 100000 & 300000',),
 ('around 50',),
 ('a few thousand ',),
 ('a few hundreds',),
 ('a few hundred ',),
 ('a few hundred',),
 ('Widespread protests throughout the valley',),
 ('Volunteers and a line formed of people participating to cook beef and share it with strangers in the streets',),
 ('Thousands of miners',),
 ('Thousands of Indians, including Bollywood actors',),
 ('The organisers said more than 3,000 people; police said the turnout was 830 at its peak',),
 ('The Civil Human Rights Front said 110,000 people; The Hong Kong police said about 20,000',),
 ('Several thousand protesters',),
 ('Several hundred demonstrators',),
 ('86',),
 ('8500',),
 ('850',),
 ('4360',),
 ('540',),
 ('54',),
 ('53000',),
 ('5300',),
 ('525000',),
 ('52',),
 ('510000',),
 ('51000',),
 ('very low thousands',),
 ('484000',),
 ('4800',),
 ('465000',),
 ('465',),
 ('44000',),
 ('4200',),
 ('84000',),
 ('41000',),
 ('407791',),
 ('40',),
 ('3900',),
 ('388',),
 ('3800',),
 ('3765',),
 ('3700',),
 ('370',),
 ('355',),
 ('340000',),
 ('34000',),
 ('335',),
 ('3300',),
 ('559',),
 ('5600',),
 ('56000',),
 ('560000',),
 ('840',),
 ('84',),
 ('825000',),
 ('82000',),
 ('79',),
 ('76',),
 ('73',),
 ('71',),
 ('7000000',),
 ('69000',),
 ('68000',),
 ('680',),
 ('6600',),
 ('650000',),
 ('65000',),
 ('650',),
 ('64',),
 ('634',),
 ('63000',),
 ('63',),
 ('625000',),
 ('615000',),
 ('613',),
 ('609',),
 ('58000',),
 ('5800',),
 ('5750',),
 ('570000',),
 ('57000',),
 ('"Rocked by protests"',)]

In [202]:
[ x for x in mass['participants_converted'] if lambda x: str(x)[0].isdigit() ]

['1000',
 '1000',
 '500',
 '100',
 '950',
 '200',
 '110000',
 '110000',
 '1000',
 '10000',
 '100',
 '10000',
 '6000',
 '3000',
 '100',
 '1000',
 '126000',
 '45000',
 '2000',
 '400',
 '500',
 '10',
 '250',
 '170000',
 '300',
 '200',
 '1000',
 '100',
 '12000',
 '200',
 '1500',
 '300',
 '1000',
 '50',
 '250300',
 'hundreds',
 '200',
 'hundreds',
 'dozens',
 '200',
 'a group',
 '300',
 '500',
 'busloads',
 '50',
 'widespread',
 '1000',
 '100',
 '50',
 '50',
 '60',
 '1000',
 '50',
 '1000',
 '50',
 '50',
 '100',
 '50',
 '100',
 '100',
 '100',
 '100',
 '100',
 '100',
 '100',
 '100',
 '100',
 '100',
 '100',
 '100',
 '100',
 '100',
 '100',
 '100',
 '100',
 '100',
 '100',
 '100',
 '100',
 '100',
 '100',
 '100',
 '100',
 '100',
 '100',
 '100',
 '100',
 '100',
 '100',
 '100',
 '100',
 '100',
 '100',
 '100',
 '50',
 'dozens',
 'dozens',
 'dozens',
 'dozens',
 'dozens',
 'dozens',
 'dozens',
 'dozens',
 'dozens',
 'dozens',
 'dozens',
 'dozens',
 'dozens',
 'dozens',
 'dozens',
 'dozens',
 'dozens',
 'dozens',
 'dozens',
 'dozens',
 'dozens',
 'dozens',
 'dozens',
 'dozens',
 'dozens',
 'dozens',
 'dozens',
 'dozens',
 'dozens',
 'dozens',
 'dozens',
 'dozens',
 'dozens',
 'dozens',
 'dozens',
 'dozens',
 'dozens',
 'dozens',
 'dozens',
 'dozens',
 'dozens',
 'dozens',
 'dozens',
 'dozens',
 'dozens',
 'dozens',
 'dozens',
 'dozens',
 'dozens',
 'dozens',
 'dozens',
 'dozens',
 'dozens',
 'dozens',
 'dozens',
 '400',
 '100',
 '1000',
 '1000',
 '1000',
 '300',
 '80',
 '200',
 '200',
 '2500',
 '300',
 '150',
 '500',
 '200',
 '2000',
 '1000',
 '1000',
 '10000',
 '100',
 '1000',
 '100',
 '100',
 '2000',
 '80',
 '100',
 '50',
 '100',
 '1001000',
 '50',
 '100',
 '100',
 '300',
 '50',
 '400',
 '100',
 '100',
 '100',
 '500',
 '100',
 '100',
 '50',
 '100',
 '100',
 '100',
 '1000',
 '1000',
 '8000',
 '1000',
 '1000',
 '1001000',
 '3001000',
 '1000',
 '4000',
 '15000',
 '10000',
 '1000',
 '100',
 '10000',
 '1000',
 '2000',
 '1000',
 '100',
 '10000',
 '1000',
 '150',
 '2000',
 '50',
 '10000',
 '100',
 '100',
 '1000',
 '100',
 '1000',
 '200',
 '300',
 '1000',
 '100',
 '1000',
 '1000',
 '1000',
 '1000',
 '100',
 '1000',
 '1000',
 '600',
 '100',
 '2000',
 '1000',
 '1500',
 '1000',
 '1000',
 '1000',
 '50',
 '1000',
 '1500',
 '4000',
 '1000',
 '1000',
 '50',
 '2000',
 'hundreds',
 'hundreds',
 '1000',
 '500',
 'hundreds',
 'several hundred',
 'tens of thousands',
 '1000',
 '1000',
 '1000',
 'hundreds',
 'hundreds',
 '1000',
 '1000',
 '1000',
 '1000',
 '1000',
 '1000',
 'tens of thousands',
 '1000',
 '1000',
 '1000',
 'several hundred',
 '1000',
 'several hundred',
 '100',
 '1000',
 '100',
 '100',
 '50',
 '100',
 '100',
 '50',
 '50',
 '50',
 '50',
 '100',
 '300',
 '100',
 '100',
 '100',
 '50',
 '100',
 '50',
 '50',
 '100',
 '100',
 '100',
 '100',
 '50',
 '100',
 '50',
 '50',
 '100',
 '100',
 '100',
 '100',
 '100',
 '500',
 '100',
 '50',
 '50',
 '100',
 '50',
 '100',
 '1000',
 'tens of thousands',
 'tens of thousands',
 'tens of thousands',
 'tens of thousands',
 'tens of thousands',
 'tens of thousands',
 'tens of thousands',
 'tens of thousands',
 'tens of thousands',
 'tens of thousands',
 'tens of thousands',
 'tens of thousands',
 'tens of thousands',
 'tens of thousands',
 'tens of thousands',
 'tens of thousands',
 'tens of thousands',
 'tens of thousands',
 'tens of thousands',
 'tens of thousands',
 'tens of thousands',
 'tens of thousands',
 'tens of thousands',
 'tens of thousands',
 'tens of thousands',
 'tens of thousands',
 'tens of thousands',
 '1000',
 '1000',
 'hundreds',
 '80',
 '100',
 '270',
 '50',
 '100',
 '100',
 '100',
 '1000',
 '1000',
 '100',
 '100',
 '300',
 '4000',
 '1000',
 '500',
 '100',
 '100',
 '100',
 '3000',
 '100',
 '50',
 '50',
 '50',
 '50',
 '50',
 '50',
 '100',
 '50',
 '50',
 '350',
 '200',
 '5000',
 '50',
 '20000',
 '20000',
 '50',
 '100',
 '1000',
 '10010000',
 '1000',
 '2000',
 '2000',
 '100000',
 '1000',
 '400',
 '100',
 '3000',
 '1000',
 '1000',
 '2000',
 '100',
 '50',
 '10000',
 '10000',
 '8000',
 '100',
 '100',
 '30000',
 '100',
 '100000',
 '100',
 '70000',
 '100',
 '100',
 '100',
 '1000',
 '1000',
 '100',
 '1000',
 '100',
 '1500',
 '20000',
 '110010000',
 '10000',
 '1000',
 '80000',
 '50',
 '10000',
 '100',
 '1000',
 '10000',
 '50',
 '10000',
 '1000',
 '300',
 '100',
 '1000',
 '100',
 '2000',
 '60',
 '100',
 '1000',
 '100',
 '400',
 '100',
 '100000',
 '1000',
 '1001000',
 '10000',
 '300',
 '200000',
 '200000',
 '1000',
 '100000',
 '750000',
 '90000',
 '50',
 '70000',
 '150000',
 '400000',
 '1000000',
 '1001000',
 '10000',
 '1000',
 '100',
 '1000',
 '100',
 '10000',
 '1000',
 '10000',
 '300',
 '1000',
 '50',
 '100',
 '1000',
 '300',
 '1000',
 '10010000',
 '1500',
 '100',
 '50',
 '100',
 '1000',
 '1000',
 '50',
 '1000',
 '1000',
 '50',
 '1000',
 '200',
 '1000',
 '50',
 '1000',
 '1000',
 '1000',
 '50',
 '50',
 '1000',
 '100',
 '50',
 '50',
 '50',
 '1000',
 '50',
 '100',
 '50',
 '100',
 '100',
 '50',
 '50',
 '50000',
 'hundreds',
 'hundreds',
 '1000',
 '1000',
 '2000',
 '1500 detained',
 '11000',
 '50',
 '230',
 '50',
 '50',
 'several dozen',
 'several hundred',
 '100',
 'hundreds',
 '1000',
 '100',
 'hundreds',
 'hundreds',
 '80000',
 '1000',
 '2000',
 '300',
 '1000',
 '10000',
 '100',
 '1000',
 '1000',
 '300',
 '100',
 '50',
 '1000',
 '2000',
 '200',
 '15000',
 '200',
 '1000',
 '180',
 '100',
 '100',
 '100',
 '100',
 '100',
 '100',
 '100',
 '100',
 '100',
 '100',
 '200',
 '1000',
 '1000',
 '100',
 '1000',
 '100',
 '50',
 '8000',
 '3000',
 '35000',
 '1000',
 '1000',
 '1000',
 '1000',
 '2000',
 '3000',
 '3000',
 '150',
 '3000',
 '1000',
 '500',
 '10000',
 '10000',
 '100',
 '100',
 '8000',
 '1000',
 '100',
 '1000',
 '100',
 nan,
 '1000',
 '500',
 '2000',
 '1000',
 '100',
 '50',
 '1000',
 '1000',
 '1000',
 '100',
 '100',
 '1000',
 '1000',
 '1000',
 '100',
 '100',
 '500',
 '1000',
 '50',
 '1000',
 '1000',
 '10000',
 '1000',
 '1000',
 '1000',
 '1000',
 '1000',
 '1000',
 '1000',
 '1000',
 '1000',
 '1000',
 '1000',
 '1000',
 '1000',
 '10000',
 '100',
 '50',
 '10000',
 '50',
 'Tens of thousands',
 'hundreds',
 'hundreds',
 'hundreds',
 '1000',
 '100',
 'hundreds',
 '1000',
 'hundreds',
 'hundreds',
 'dozens',
 '1000',
 '30000',
 '4000',
 '100',
 '500',
 '100',
 '40000',
 '130',
 '1000',
 '2000',
 '1000',
 '3000',
 '3000',
 '100',
 '10000',
 '80',
 '5000',
 '2000',
 '2000',
 '1000',
 '60000',
 '100',
 '100',
 '100',
 '23000',
 '3000',
 '100',
 '40000',
 '1000',
 '1000',
 '100',
 '20000',
 '14000',
 '1000',
 '3000',
 '6000',
 '8000',
 '12000',
 '4000',
 '1000',
 '900',
 '6000',
 '1000',
 '1000',
 '1200',
 '1000',
 '1000',
 '100',
 '1000',
 '100',
 '100',
 '50',
 '1700',
 '1500',
 '2000',
 '100',
 '700',
 '1000',
 '100',
 '1000',
 '10000',
 '100',
 '1000',
 '1000',
 '1000',
 '200',
 '500',
 '1000',
 '100',
 '1000',
 '1000',
 '1000',
 '2000',
 '100',
 '100',
 '100',
 '100',
 '800',
 '100',
 '100',
 '5000',
 '50',
 '10000',
 '20000',
 '10000',
 '30000',
 '50000',
 '100000',
 '10000',
 '1000',
 '1000',
 '1000',
 '1000',
 '1000',
 '1000',
 '1000',
 '500',
 '100',
 'dozens',
 '1000',
 'tens of thousands',
 '1000',
 '1000',
 '100',
 '1000',
 '50',
 '5000',
 '10000',
 '1000',
 '1000',
 'hundreds',
 '1000',
 '6000',
 '1000',
 '100',
 '300',
 '500',
 '100',
 '280',
 '600',
 '1000',
 '2000',
 '100',
 '700',
 '400',
 '100',
 '50',
 '200',
 '50',
 '300',
 '50',
 '800',
 '500',
 nan,
 '100',
 '1000',
 '50',
 '50',
 '1000',
 '100',
 '100',
 '200',
 '100',
 '100',
 nan,
 '2000',
 nan,
 '1000',
 '50',
 '50',
 '1000',
 '100',
 '1500',
 '200',
 '100',
 '4000',
 '3000',
 nan,
 '400',
 '400',
 '50',
 '100',
 '1000',
 '3000',
 '2000',
 'Tens of thousands',
 '60000',
 '100',
 '2400',
 '100',
 '2000',
 '300',
 '60',
 '1500',
 '30000',
 '1000',
 '1000',
 '5000',
 '1000',
 nan,
 '2000',
 '100',
 '1000',
 '1000',
 '2000',
 '300',
 '500',
 '20000',
 '100',
 '5000',
 '4000',
 '50',
 '50',
 '100',
 '15000',
 '50',
 '1000',
 '1000',
 '350',
 '1000',
 '100',
 '50',
 '1000',
 '2000',
 '1000',
 '3000',
 '1000',
 '50',
 '100',
 '1000',
 '90',
 '50',
 '5000',
 '1000',
 '100',
 '2000',
 '200',
 '100',
 '15000',
 '1000',
 '100',
 '100',
 '1000',
 '5000',
 '100',
 '50',
 '100',
 '100',
 '15000',
 '50',
 '50',
 '50',
 'hundreds',
 '50',
 '50',
 'hundreds ',
 '1000',
 'tens of thousands',
 'hundreds',
 'tens of thousands',
 '1000',
 '1000',
 'hundreds of thousands',
 '1000',
 '1000',
 '1000',
 '100',
 'hundreds',
 '50',
 '50',
 '164',
 '50',
 '100',
 'hundreds',
 'hundreds',
 '100',
 '50',
 '50',
 '50',
 '1000',
 '1000',
 '1000',
 '100',
 '50000',
 '150000',
 '100',
 '100',
 '1000',
 '100',
 '100',
 '100',
 '15000',
 '100',
 '1000',
 '10000',
 '1000',
 '100',
 '100',
 '1000',
 '80000',
 '100',
 '100',
 '1000',
 '1000',
 '1000',
 '5000',
 '10000',
 '100000',
 '200',
 '200',
 '50',
 '1000',
 '20000',
 '100',
 '50',
 '300',
 '1000',
 '100',
 '200',
 '1000',
 '1000',
 '600',
 '100',
 '100',
 '100',
 '100',
 '1000',
 '100',
 '100',
 '50',
 '80',
 '10000',
 '100',
 '3000',
 '1000',
 '100',
 '1000',
 '1000',
 '100010000',
 '1000',
 '50',
 '60',
 '400',
 '50',
 '1001000',
 '100',
 '7000',
 '100',
 '80',
 '3000',
 '50',
 '100',
 '1001000',
 '100',
 '100',
 '100',
 '100',
 '50',
 '1000',
 '200',
 '50',
 '5000',
 '1000',
 '3000',
 '15000',
 '14000',
 '10000',
 '200000',
 '30000',
 '30000',
 '400000',
 '30000',
 '50',
 '50',
 '14000',
 '50',
 '50',
 '1000',
 '25000',
 '240000',
 '50000',
 '1000',
 '100',
 ...]

In [207]:
# trying to convert something with a number to being only the number 

for string in mass['participants_converted']:
    if str(string)[0].isdigit():
        string = re.sub("[^0-9]", "", string)

IndexError: string index out of range

In [170]:
mass['participants_category'].value_counts()

100-999       3204
50-99         2508
2000-4999     1580
>10000        1470
5000-10000     642
1000-1999      483
Name: participants_category, dtype: int64

In [206]:
# creating category called "participants_converted_category" that makes "participants" string values 
# match the categories in "participants_category"
mass.loc[mass['participants_converted'] == '1000', 'participants_converted_category'] = '1000-5000'
mass.loc[mass['participants_converted'] == 'Hundreds of thousands', 'participants_converted_category'] = '>100000'

for val in mass['participants_converted']:
    if str(val)[0].isdigit() and (0 > int(val) > 100):
#     if 0 > int(val) > 100:
        mass.loc[ mass['participants_converted'] == val, 'partcipants_converted_category'] = '50-99'
        
# mass.loc[ (0>int(mass['participants_converted'])<100), 'participants_converted' ] = '50-99'

ValueError: invalid literal for int() with base 10: '1500 detained'

In [447]:
# mass.drop(columns=['partcipants_converted'], inplace=True)

around, 'at least', about, nearly, 'up to', 'as many as'

In [356]:
mass[mass['participants'] == mass['participants_converted']][['participants', 'participants_converted']]

      participants participants_converted
1             1000                   1000
2              500                    500
4              950                    950
5              200                    200
6           110000                 110000
...            ...                    ...
17129         5000                   5000
17130          300                    300
17131          500                    500
17133         1000                   1000
17135         2000                   2000

[8853 rows x 2 columns]

In [173]:
string_list = mass['participants'].tolist()
string_list

['1000s',
 '1000',
 '500',
 '100s',
 '950',
 '200',
 '110000',
 '110000',
 '1000',
 '10000s',
 '100s',
 '10000',
 '6000',
 '3000',
 '100s',
 '1000s',
 '126000',
 '45000',
 '2000',
 '400',
 '500',
 '10s',
 '250',
 '170000',
 '300',
 '200',
 '1000s',
 '100s',
 '12000',
 '200',
 '1500',
 '300',
 '1000s',
 '50+',
 '250-300',
 'hundreds',
 'more than 200',
 'hundreds',
 'dozens',
 'more than 200',
 'a group',
 'about 300',
 'more than 500',
 'busloads',
 '50',
 'widespread',
 'thousands',
 '100',
 '50',
 '50',
 '60',
 'thousands',
 '50',
 '1000',
 '50',
 '50',
 '100+',
 '50+',
 '100+',
 '100+',
 '100+',
 '100+',
 '100+',
 '100+',
 '100+',
 '100+',
 '100+',
 '100+',
 '100+',
 '100+',
 '100+',
 '100+',
 '100+',
 '100+',
 '100+',
 '100+',
 '100+',
 '100+',
 '100+',
 '100+',
 '100+',
 '100+',
 '100+',
 '100+',
 '100+',
 '100+',
 '100+',
 '100+',
 '100+',
 '100+',
 '100+',
 '100+',
 '100+',
 '100+',
 '50+',
 'dozens',
 'dozens',
 'dozens',
 'dozens',
 'dozens',
 'dozens',
 'dozens',
 'dozens',
 'dozens',
 'dozens',
 'dozens',
 'dozens',
 'dozens',
 'dozens',
 'dozens',
 'dozens',
 'dozens',
 'dozens',
 'dozens',
 'dozens',
 'dozens',
 'dozens',
 'dozens',
 'dozens',
 'dozens',
 'dozens',
 'dozens',
 'dozens',
 'dozens',
 'dozens',
 'dozens',
 'dozens',
 'dozens',
 'dozens',
 'dozens',
 'dozens',
 'dozens',
 'dozens',
 'dozens',
 'dozens',
 'dozens',
 'dozens',
 'dozens',
 'dozens',
 'dozens',
 'dozens',
 'dozens',
 'dozens',
 'dozens',
 'dozens',
 'dozens',
 'dozens',
 'dozens',
 'dozens',
 'dozens',
 '400',
 '100',
 '1000s',
 '1000s',
 '1000s',
 '300',
 '80',
 '200',
 '200',
 '2500',
 '300',
 '150',
 '500',
 '200',
 '2000',
 '1000s',
 '1000s',
 '10000',
 '100s',
 '1000s',
 '100s',
 '100s',
 '2000',
 '80',
 '100s',
 '50',
 '100s',
 '100s-1000s',
 '50',
 '100s',
 '100s',
 '300',
 '50',
 '400',
 '100s',
 '100s',
 '100s',
 '500',
 '100s',
 '100s',
 '50',
 '100s',
 '100',
 '100s',
 '1000',
 '1000s',
 '8000',
 '1000s',
 '1000s',
 '100s-1000',
 '300-1000s',
 '1000s',
 '4000',
 '15000',
 '10000s',
 '1000s',
 '100s',
 '10000',
 '1000s',
 '2000',
 '1000s',
 '100s',
 '10000s',
 '1000s',
 '150',
 '2000',
 '50',
 '10000s',
 '100s',
 '100s',
 '1000s',
 '100s',
 '1000s',
 '200',
 '300',
 '1000s',
 '100s',
 '1000',
 '1000',
 '1000s',
 '1000s',
 '100',
 '1000s',
 '1000s',
 '600',
 '100s',
 '2000',
 '1000s',
 '1500+',
 '1000s',
 '1000s',
 '1000s',
 '50+',
 '1000s',
 '1500',
 '4000',
 '1000s',
 '1000s',
 '50+',
 'about 2000',
 'hundreds',
 'hundreds',
 'thousands',
 '500',
 'hundreds',
 'several hundred',
 'tens of thousands',
 'thousands',
 'thousands',
 'thousands',
 'hundreds',
 'hundreds',
 'thousands',
 'thousands',
 'thousands',
 'thousands',
 'thousands',
 'thousands',
 'tens of thousands',
 'thousands',
 'thousands',
 'thousands',
 'several hundred',
 'thousands',
 'several hundred',
 '100s',
 '1000s',
 '100s',
 '100s',
 '50',
 '100s',
 '100s',
 '50',
 '50',
 '50',
 '50',
 '100s',
 '300',
 '100s',
 '100s',
 '100s',
 '50',
 '100s',
 '50',
 '50',
 '100s',
 '100s',
 '100s',
 '100s',
 '50',
 '100s',
 '50',
 '50',
 '100s',
 '100s',
 '100s',
 '100s',
 '100s',
 '500',
 '100s',
 '50',
 '50',
 '100s',
 '50',
 '100s',
 '1000s',
 'tens of thousands',
 'tens of thousands',
 'tens of thousands',
 'tens of thousands',
 'tens of thousands',
 'tens of thousands',
 'tens of thousands',
 'tens of thousands',
 'tens of thousands',
 'tens of thousands',
 'tens of thousands',
 'tens of thousands',
 'tens of thousands',
 'tens of thousands',
 'tens of thousands',
 'tens of thousands',
 'tens of thousands',
 'tens of thousands',
 'tens of thousands',
 'tens of thousands',
 'tens of thousands',
 'tens of thousands',
 'tens of thousands',
 'tens of thousands',
 'tens of thousands',
 'tens of thousands',
 'tens of thousands',
 'thousands',
 'thousands',
 'hundreds',
 '80',
 '100s',
 '270',
 '50',
 '100s',
 '100s',
 '100s',
 '1000',
 '1000',
 '100s',
 '100s',
 '300',
 '4000',
 '1000s',
 '500',
 '100s',
 '100s',
 '100s',
 '3000',
 '100s',
 '50+',
 '50+',
 '50+',
 '50+',
 '50+',
 '50+',
 '100s',
 '50+',
 '50',
 '350',
 '200',
 '5000',
 '50',
 '20000',
 '20000',
 '50',
 '100s',
 '1000s',
 '100s-10000s',
 '1000s',
 '2000',
 '2000',
 '100000',
 '1000s',
 '400',
 '100s',
 '3000',
 '1000s',
 '1000s',
 '2000',
 '100s',
 '50',
 '10000s',
 '10000',
 '8000',
 '100s',
 '100s',
 '30000',
 '100s',
 '100000',
 '100s',
 '70000',
 '100',
 '100s',
 '100s',
 '1000s',
 '1000',
 '100s',
 '1000s',
 '100s',
 '1500',
 '20000',
 '1100-10000s',
 '10000s',
 '1000',
 '80000',
 '50',
 '10000',
 '100s',
 '1000',
 '10000',
 '50',
 '10000',
 '1000',
 '300',
 '100s',
 '1000',
 '100s',
 '2000',
 '60',
 '100s',
 '1000s',
 '100s',
 '400',
 '100s',
 '100000',
 '1000s',
 '100s-1000',
 '10000s',
 '300',
 '200000',
 '200000',
 '1000s',
 '100000s',
 '750000',
 '90000',
 '50',
 '70000',
 '150000',
 '400000',
 '1000000',
 '100s-1000s',
 '10000s',
 '1000s',
 '100s',
 '1000s',
 '100s',
 '10000s',
 '1000s',
 '10000s',
 '300',
 '1000s',
 '50',
 '100s',
 '1000s',
 '300',
 '1000s',
 '100s-10000s',
 '1500',
 '100',
 '50',
 '100s',
 '1000s',
 '1000+',
 '50+',
 '1000+',
 '1000+',
 '50+',
 '1000s',
 '200',
 '1000s',
 '50+',
 '1000s',
 '1000s',
 '1000s',
 '50+',
 '50+',
 '1000s',
 '100',
 '50',
 '>50',
 '>50',
 '1000s',
 '>50',
 '100s',
 '50',
 '100s',
 '100s',
 '>50',
 '50',
 '>50000',
 'hundreds',
 'hundreds',
 'thousands',
 '1000',
 '2000',
 'more than 1500 detained',
 '11000',
 '50',
 '230 families',
 '50',
 '50',
 'several dozen',
 'several hundred',
 '100',
 'hundreds',
 'thousands',
 '100',
 'hundreds',
 'hundreds',
 '80000',
 '1000s',
 '2000',
 '300',
 '1000',
 '10000',
 '100s',
 '1000s',
 '1000',
 '300',
 '100s',
 '50',
 '1000',
 '2000',
 '200',
 '15000',
 '200',
 '1000s',
 '180',
 '100s',
 '100s',
 '100s',
 '100s',
 '100s',
 '100s',
 '100s',
 '100s',
 '100s',
 '100s',
 '200',
 '1000s',
 '1000+',
 '100s',
 '1000s',
 '100s',
 '50s',
 '8000',
 '3000',
 '35000',
 '1000s',
 '1000s',
 '1000s',
 '1000s',
 '2000',
 '3000',
 '3000',
 '150',
 '3000',
 '1000s',
 '500',
 '10000s',
 '10000s',
 '100s',
 '100s',
 '8000',
 '1000s',
 '100s',
 '1000s',
 '100s',
 nan,
 '1000+',
 '500',
 '2000',
 '1000',
 '100s',
 '50',
 '1000s',
 '1000',
 '1000s',
 '100s',
 '100s',
 '1000s',
 '1000s',
 '1000s',
 '100s',
 '100s',
 '500',
 '1000s',
 '50+',
 '1000s',
 '1000s',
 '10000s',
 '1000s',
 '1000s',
 '1000s',
 '1000s',
 '1000s',
 '1000s',
 '1000s',
 '1000s',
 '1000s',
 '1000s',
 '1000s',
 '1000s',
 '1000s',
 '10000s',
 '100s',
 '50+',
 '10000s',
 '50',
 'Tens of thousands',
 'hundreds',
 'hundreds',
 'hundreds',
 '1000',
 '100',
 'hundreds',
 'thousands',
 'hundreds',
 'hundreds',
 'dozens',
 'thousands',
 '30000',
 '4000',
 '100s',
 '500',
 '100s',
 '40000',
 '130',
 '1000s',
 '2000',
 '1000s',
 '3000',
 '3000',
 '100s',
 '10000',
 '80',
 '5000',
 '2000',
 '2000',
 '1000s',
 '60000',
 '100s',
 '100s',
 '100s',
 '23000+',
 '3000',
 '100s',
 '40000',
 '1000s',
 '1000s',
 '100s',
 '20000',
 '14000',
 '1000',
 '3000',
 '6000',
 '8000',
 '12000',
 '4000',
 '1000s',
 '900',
 '6000',
 '1000s',
 '1000s',
 '1200',
 '1000s',
 '1000s',
 '100s',
 '1000s',
 '100',
 '100s',
 '50',
 '1700',
 '1500',
 '2000',
 '100s',
 '700',
 '1000s',
 '100s',
 '1000s',
 '10000s',
 '100s',
 '1000s',
 '1000s',
 '1000s',
 '200',
 '500',
 '1000s',
 '100',
 '1000s',
 '1000s',
 '1000s',
 '2000',
 '100',
 '100s',
 '100s',
 '100',
 '800',
 '100s',
 '100s',
 '5000+',
 '50+',
 '10000s',
 '20000',
 '10000s',
 '30000',
 '50000',
 '100000',
 '10000s',
 '1000s',
 '1000s',
 '1000s',
 '1000s',
 '1000s',
 '1000s',
 '1000s',
 '500',
 '100s',
 'dozens',
 'more than 1000',
 'tens of thousands',
 'thousands',
 'thousands',
 '100',
 'thousands',
 '50',
 '5000',
 '10000',
 'thousands',
 'thousands',
 'hundreds',
 'thousands',
 '6000',
 '1000',
 '100',
 '300',
 '500',
 '100s',
 '280',
 '600',
 '1000',
 '2000',
 '100',
 '700',
 '400',
 '100s',
 '50',
 '200',
 '50',
 '300',
 '>50',
 '800',
 '500',
 nan,
 '100s',
 '1000',
 '50',
 '50',
 '1000',
 '100s',
 '100s',
 '200',
 '100s',
 '100s',
 nan,
 '2000',
 nan,
 '1000',
 '50',
 '50',
 '1000s',
 '100s',
 '1500',
 '200',
 '100s',
 '4000',
 '3000',
 nan,
 '400',
 '400',
 '50',
 '100s',
 '1000s',
 '3000+',
 '2000',
 'Tens of thousands',
 '60000',
 '100s',
 '2400',
 '100s',
 '2000',
 '300',
 '60',
 '1500',
 '30000',
 '1000s',
 '1000s',
 '5000',
 '1000',
 nan,
 '2000',
 '100s',
 '1000s',
 '1000',
 '2000',
 '300',
 '500',
 '20000',
 '100s',
 '5000',
 '4000',
 '50+',
 '50+',
 '100s',
 '15000',
 '50+',
 '1000',
 '1000s',
 '350',
 '1000s',
 '100s',
 '50+',
 '1000',
 '2000',
 '1000s',
 '3000',
 '1000s',
 '50+',
 '100s',
 '1000',
 '90',
 '50+',
 '5000',
 '1000s',
 '100s',
 '2000',
 '200',
 '100s',
 '15000',
 '1000s',
 '100s',
 '100s',
 '1000',
 '5000',
 '100s',
 '50+',
 '100s',
 '100s',
 '15000+',
 '50+',
 '50+',
 '50',
 'hundreds',
 '50',
 '50',
 'hundreds ',
 'thousands',
 'tens of thousands',
 'hundreds',
 'tens of thousands',
 'thousands',
 'thousands',
 'hundreds of thousands',
 '1000',
 '1000',
 '1000',
 '100',
 'hundreds',
 '50',
 '50',
 '164 arrested',
 '50',
 '100',
 'hundreds',
 'hundreds',
 '100s',
 '50+',
 '50+',
 '50+',
 '1000s',
 '1000s',
 '1000s',
 '100s',
 '50000',
 '150000',
 '100s',
 '100s',
 '1000s',
 '100',
 '100s',
 '100s',
 '15000',
 '100s',
 '1000s',
 '10000s',
 '1000s',
 '100s',
 '100s',
 '1000s',
 '80000',
 '100s',
 '100s',
 '1000s',
 '1000s',
 '1000s',
 '5000',
 '10000s',
 '100000',
 '200',
 '200',
 '50',
 'thousands',
 '20000',
 '100s',
 '50',
 '300',
 '1000s',
 '100s',
 '200',
 '1000s',
 '1000s',
 '600',
 '100s',
 '100s',
 '100s',
 '100s',
 '1000s',
 '100s',
 '100s',
 '50',
 '80',
 '10000',
 '100s',
 '3000',
 '1000s',
 '100s',
 '1000s',
 '1000s',
 '1000s-10000',
 '1000s',
 '50',
 '60',
 '400',
 '50',
 '100s-1000s',
 '100s',
 '7000',
 '100s',
 '80',
 '3000',
 '50',
 '100s',
 '100s-1000s',
 '100s',
 '100s',
 '100s',
 '100s',
 '50',
 '1000s',
 '200',
 '50',
 '5000',
 '1000',
 '3000',
 '15000',
 '14000',
 '10000',
 '200000',
 '30000',
 '30000',
 '400000',
 '30000',
 '50',
 '50',
 '14000',
 '50',
 '50',
 '1000',
 '25000',
 '240000',
 '50000',
 '1000',
 '100',
 ...]

In [175]:
# for a,b in zip(string_list, number_list):
#     print(a,b)

In [185]:
mass[ ( mass['participants_category']=='>10000') & mass['participants'].notna() ][['country','year','participants','participants_category']]

,country,year,participants,participants_category
287,Haiti,2018,tens of thousands,>10000
299,Haiti,2019,tens of thousands,>10000
358,Dominican Republic,2017,tens of thousands,>10000
359,Dominican Republic,2017,tens of thousands,>10000
360,Dominican Republic,2017,tens of thousands,>10000
...,...,...,...,...
16908,Philippines,2017,"At least 10,000 people",>10000
17053,Indonesia,2016,Tens of thousands,>10000
17055,Indonesia,2016,"More than 500,000 people",>10000
17061,Indonesia,2018,About 10000,>10000
17070,Indonesia,2019,10000s,>10000